@model VentasProyect.Models.Persona.Persona

@{
    ViewBag.Title = "Detalles de la Persona";
    var type = Model.per_tipo == "Ambos" ? "Cliente" : Model.per_tipo;
}

<h2>Detalles de la Persona</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Nombre del producto:</dt>
        <dd>@Model</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
