@model VentasProyect.Models.Ciudad.Ciudad

@{
    ViewBag.Title = "Detalles del Ciudad";
}

<h2>Detalles de la Ciudad</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Ciudad:</dt>
        <dd>@Model.ciu_nombre</dd>
        <dt>Departamento:</dt>
        <dd>@Model.ciu_depto</dd>       
        
    </dl>
</div>

<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
