@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    overflow-y:auto;
    color:#fff;
    margin-top:80px;
}

label, h2,dd {
    color: #F2F4F7;
}


.containerLogin {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    min-width: 400px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    transition: width 1s;
    display:flex;
    flex-direction:column;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

footer {
    color: #F2F4F7;
    font-size:18px;
    display:grid;
}