@{
    ViewBag.Title = "Home Page";
}


<div class="container-cards mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card rounded">
                <img src="ruta-a-imagen1.jpg" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h4 class="card-title">Producto 1</h4>
                    <p class="card-text">Descripción breve del producto 1.</p>
                    <h5>$60.000</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card rounded">
                <img src="ruta-a-imagen2.jpg" class="card-img-top" alt="Producto 2">
                <div class="card-body">
                    <h4 class="card-title">Producto 1</h4>
                    <p class="card-text">Descripción breve del producto 2.</p>
                    <h5>$60.000</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card rounded">
                <img src="ruta-a-imagen3.jpg" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h4 class="card-title">Producto 1</h4>
                    <p class="card-text">Descripción breve del producto 3.</p>
                    <h5>$60.000</h5>
                </div>
            </div>
        </div>
    </div>
</div>