VentasProyect/bin
VentasProyect/obj
.vs/VentasProyect/v16/.suo
.vs
# Exclude ftpconfig.json from the repository
VentasProyect/ftpconfig.json
VentasProyect/Web.config
packages
VentasProyect/Web.config
