* {
    -webkit-box-sizing: border-box;
}

.distribution {
    position:fixed;
    width: 100vw;
    display: flex;
    z-index:1000;
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 15vw;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #F9FCFA;
    padding: 10px;
    z-index: 1000;
    transition: width 0.5s;
    border-left: 1px solid #cfcfcf;
    height: 100vh;
    max-height: 100vh; /* Establece un alto máximo */
    overflow-y: auto;
}

.sidebar-hidden {
    width: 100vw;
    transition: width 0.5s;
}

.sidebar-visible {
    width: calc(100vw - 171px);
    transition: width 0.5s;
}

/*Estilos barra desplazamiento para sidebar*/

.sidebar::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo del riel */
}


.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar */
    border-radius: 4px; /* Borde redondeado del pulgar */
}


    .sidebar::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Color del pulgar al pasar el mouse */
    }


/**/


.txtBox-search {
    width: 25vw;
    top: 20px;
    left: 20px;
    position: relative;
    display: inline-block;
    transition: width 0.5s;
}

    .txtBox-search input[type="text"] {
        padding-left: 20px;
        padding-right: 30px;
    }

.input-search {
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    width: 25vw;
    height: 40px;
    transition: width 0.5s;
}

.icon-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.nav-bar {
    min-height: 80px;
    width: 100vw;
    color: #BAC1BC;
    background-color: #F9FCFA;
    top: 0;
    position: fixed;
    left: 0;
    padding-right: 20px;
    transition: width 0.5s; /* Transición de ancho */
}

.btn-login{
    display:block;
    float:right;
}

.btn-login a{
    padding-top:15px;
    padding-bottom:15px;
}

.logged-in {
    margin-left:0;
    width: 85vw;
}

.menu {
    display: flex;
    padding-left: 0;
}

.menu-icon {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
}

.menu-context {
    border-left: 10px solid transparent;
    border-image: linear-gradient(to right, #F9FCFA 0%, #e6e6e6 0.35%,#F9FCFA 0.7%) 1
}


a {
    color: #000;
    text-decoration: none;
}

ul {
    padding-left: 10px;
    margin-top: 0;
    list-style-type: none;
}

li {
    cursor: pointer;
}

.nav-link {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    margin-bottom: 10px;
}

.nav-item .nav-link {
    font-size: 13.6px;
}

.icon {
    margin-right: 8px;
    color: #8A8A8A;
}

.active {
    color: #8C52FF;
}

.nav-item .nav-link:hover {
    background-color: #ECEFF7;
    color: #305CA3;
    text-decoration: none;
}

.background-image {
    width: 100%;
    height: 100%;
}

.logo-content {
    position: relative;
    width: 35px;
    height: 30px;
}

.name-style {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #8C52FF;
}

    .name-style:hover {
        text-decoration: none;
        color: #6b41BF
    }

.text-name {
    width: 110px;
}

.name {
    display: flex;
    margin: 10px 10px 40px 0;
    justify-content: space-evenly;
}

.icon2 {
    color: #8A8A8A;
    display: none;
    font-variation-settings: 'wght' 600;
}

.btn-logout {
    display: flex;
    justify-content: center;
}

    .btn-logout .btn-logout-in {
        display: flex;
        justify-content: center;
        transition: width 0.5s; /* Transición de ancho */
    }

.btn-logout-in .icon-logout {
    transition: width 0.5s; /* Transición de ancho */
}

/* Aplica los estilos de colapso cuando el ancho de la pantalla sea menor o igual a 1200px */
@media screen and (max-width: 1200px) {
    .sidebar {
        padding: 2px;
        width: 80px;
    }

        .sidebar .menu-context {
            display: flex;
            flex-direction: column;
            width: 45px;
        }

        .sidebar .text-name {
            display: none;
        }


        .sidebar .menu-icon {
            justify-content: center;
        }

        .sidebar .nav-link {
            padding: 10px 5px;
        }

        .sidebar ul {
            padding-left: 0;
        }

        .sidebar .menu-context ul li {
            text-align: center;
        }

        .sidebar .nav-link-text {
            display: none;
        }

    .sidebar-visible {
        width: calc(100vw - 80px);
    }

    .body-content {
        width: calc(100vw - 80px);
    }

    .icon2 {
        display: flex;
    }

    .btn-logout-in{
        width:40px;
        height:50px;
    }

        .btn-logout-in .icon-logout {
            display: none;
        }
}

/* Estilo para expandir el sidebar cuando la resolución es menor o igual a 1200px */
.sidebar.collapsed {
    width: 171px;
}

    .sidebar.collapsed .menu-context {
        width:100%;
    }

    .sidebar.collapsed .menu-context ul li {
        text-align: left;
        padding-left: 10px;
        margin-top: 0;
    }

    .sidebar.collapsed .nav-link-text {
        display: flex;
    }

    .sidebar.collapsed .text-name {
        display: flex;
    }

    .sidebar.collapsed .menu-icon {
        justify-content: center;
    }

    .sidebar.collapsed .nav-link {
        padding: 10px 5px;
    }

.nav-bar.collapsed {
    width: calc(100vw - 171px);
}

.sidebar.collapsed .btn-logout-in {
    width: 150px;
}

    .sidebar.collapsed .btn-logout-in .icon-logout {
        display: flex;
    }
.body-content.collapsed-body {
    width: calc(100vw - 171px);
    transition: width 0.5s;
}


